<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/home']" placement="bottom" tooltip="Designed and Coded by Creative Tim">
        <span> Volcart </span>
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://twitter.com/Coimbrox" placement="bottom" target="_blank"
            tooltip="Nos Siga no Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/CreativeTim" placement="bottom" target="_blank"
            tooltip="Like us on Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.instagram.com/volca.art/?hl=pt-br" placement="bottom" target="_blank"
            tooltip="Nos Siga no Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']"> Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            Tem um Problema?
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />
    <img class="path" src="assets/img/path4.png" />

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h1 class="profile-title text-left">Contato</h1>
                <h5 class="text-on-back">01</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Your Name </label>
                        <input class="form-control" type="text" value="Mike" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Email address </label>
                        <input class="form-control" placeholder="mike@email.com" type="email" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Phone </label>
                        <input class="form-control" type="text" value="001-12321345" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> Company </label>
                        <input class="form-control" type="text" value="CreativeTim" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label> Message </label>
                        <input class="form-control" placeholder="Hello there!" type="text" />
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-danger btn-round float-right" placement="right" type="submit">
                    Send text
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-danger">
                <i class="tim-icons icon-square-pin"> </i>
              </div>
              <div class="description">
                <h4 class="info-title">Find us at the office</h4>
                <p>
                  Bld Mihail Kogalniceanu, nr. 8, <br />

                  7652 Bucharest, <br />

                  Romania
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-danger">
                <i class="tim-icons icon-mobile"> </i>
              </div>
              <div class="description">
                <h4 class="info-title">Give us a ring</h4>
                <p>
                  Michael Jordan <br />

                  +40 762 321 762 <br />

                  Mon - Fri, 8:00-22:00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer">

  </footer>
</div>